/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html:not(.a11y):not(.no-js) * {
  outline: none;
}

@font-face {
  font-family: "i";
  src: url("../fonts/inter/Inter-Medium.eot");
  src: url("../fonts/inter/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/inter/Inter-Medium.woff2") format("woff2"), url("../fonts/inter/Inter-Medium.woff") format("woff"), url("../fonts/inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "i";
  src: url("../fonts/inter/Inter-Regular.eot");
  src: url("../fonts/inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter/Inter-Regular.woff2") format("woff2"), url("../fonts/inter/Inter-Regular.woff") format("woff"), url("../fonts/inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-touch-callout: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
}

html {
  font-size: .625em;
}

.base-medium {
  font: 500 1.6rem "i";
  line-height: 140%;
}

.base-small {
  font: 400 1.4rem "i";
  line-height: 140%;
}

.header-small {
  font: 500 2rem "i";
  line-height: 128%;
}

.header-medium {
  font: 500 2.6rem "i";
  line-height: 128%;
}

@media (max-width: 720px) {
  .header-small {
    font: 500 1.6rem "i";
    line-height: 128%;
  }
  .header-medium {
    font: 500 2.2rem "i";
    line-height: 128%;
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  display: block;
}

hr {
  background: currentColor;
  height: 1px;
  border: none;
}

/* default classes */
.clear {
  clear: both;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

:target, :focus {
  scroll-margin-top: 10rem;
}

.admin-bar :target, .admin-bar :focus {
  scroll-margin-top: calc(10rem + 32px);
}

/*html:focus-within {
    scroll-behavior: smooth;
}*/
.page-content {
  position: relative;
  z-index: 10;
  background: #fff;
  padding-top: 8rem;
}

.page-content.-no-padded {
  padding-top: 0;
}

.bkg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bkg-contain {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.ratio-wrapper {
  position: relative;
}

.ratio-wrapper:before {
  content: '';
  display: block;
}

.ratio-wrapper.-square:before {
  padding-bottom: 100%;
}

.ratio-wrapper.-video:before {
  padding-bottom: 56.25%;
}

.image-wrapper {
  line-height: 0;
  display: block;
}

.image-wrapper svg, .image-wrapper img {
  max-width: 100%;
  height: auto;
}

.page-item {
  width: 100%;
  top: 0;
  left: 0;
  min-height: 100vh;
  overflow: hidden;
}

.page-item.-in-transition {
  opacity: 0;
  position: absolute;
}

.inline-list {
  font-size: 0;
}

.inline-list > * {
  display: inline-block;
  vertical-align: middle;
}

#full-wrapper {
  overflow: hidden;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
}

.wrapper.-right {
  margin-right: 0;
}

.wrapper.-left {
  margin-left: 0;
}

.wrapper.-padded {
  padding-left: 2rem;
  padding-right: 2rem;
}

.wrapper.-v-small {
  max-width: 42rem;
}

.wrapper.-v-small.-padded {
  max-width: 46rem;
}

.wrapper.-text-small {
  max-width: 47rem;
}

.wrapper.-text-small.-padded {
  max-width: 51rem;
}

.wrapper.-text {
  max-width: 54rem;
}

.wrapper.-text.-padded {
  max-width: 58rem;
}

.wrapper.-small {
  max-width: 56rem;
}

.wrapper.-small.-padded {
  max-width: 60rem;
}

.wrapper.-medium {
  max-width: 106rem;
}

.wrapper.-medium.-padded {
  max-width: 110rem;
}

.wrapper.-large {
  max-width: 120rem;
}

.wrapper.-large.-padded {
  max-width: 124rem;
}

.wrapper.-xlarge {
  max-width: 128rem;
}

.wrapper.-xlarge.-padded {
  max-width: 132rem;
}

.js [data-appear^="opacity"] {
  opacity: 0;
}

.js [data-appear^="opacity"].-appeared {
  opacity: 1;
  -webkit-transition: opacity linear .56s;
  transition: opacity linear .56s;
}

@media (max-width: 960px) {
  #wpadminbar {
    display: none !important;
  }
  html {
    margin-top: 0 !important;
  }
}

.reset-btn {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

.btn {
  border: none;
}

.btn.-burger.-pink {
  color: #E3B2AE;
  background-color: rgba(227, 178, 174, 0.2);
  border-radius: 0.4rem;
}

.btn.-black {
  background-color: black;
  color: white;
}

.btn.-medium {
  padding: 0.9rem 1.6rem;
}

.input {
  border: none;
  padding: 0.9rem 0;
}

.input::-webkit-input-placeholder {
  color: black;
}

.input:-ms-input-placeholder {
  color: black;
}

.input::-ms-input-placeholder {
  color: black;
}

.input::placeholder {
  color: black;
}

.input.-email {
  background-color: #F9F0EF;
  text-align: center;
}

:root {
  --left-width: 56rem;
}

@media (max-width: 960px) {
  :root {
    --left-width: 44rem;
    --rigth-width: 41.6rem;
  }
}

@media (max-width: 720px) {
  :root {
    --left-width: 33.6rem;
    --rigth-width: 32rem;
  }
}

@media (max-width: 560px) {
  :root {
    --left-width: 40rem;
    --rigth-width: 40rem;
  }
}

@media (max-width: 320px) {
  :root {
    --left-width: 29.6rem;
    --rigth-width: 29.6rem;
  }
}

body {
  position: relative;
}

body.show-menu {
  overflow: hidden;
}

body.show-menu .header .logo {
  z-index: 1;
  color: black;
}

body.show-menu .header .ico-wrapper .menu .burger {
  display: none;
}

body.show-menu .header .ico-wrapper .menu .close {
  display: block;
}

body.show-menu .content-wrapper.-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.show-menu .content-wrapper .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.show-menu .content-wrapper:not(.-menu) {
  opacity: .6;
}

body.show-menu .content-wrapper:not(.-menu) .coldeco {
  background-color: #F9F0EF;
}

body.show-menu .content-wrapper:not(.-menu) .right {
  display: none;
}

body.show-menu .newsletter-wrapper {
  display: none;
}

body .header {
  padding-top: 2.4rem;
  margin-bottom: -2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc( var(--left-width) + 4rem) auto;
      grid-template-columns: calc( var(--left-width) + 4rem) auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

body .header .logo {
  color: #FFFF93;
}

body .header .ico-wrapper {
  margin-top: 0.6rem;
}

body .header .ico-wrapper .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .ico-wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 3.4rem;
}

body .header .ico-wrapper .menu .close {
  display: none;
}

body .ico-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .ico-wrapper a:first-of-type {
  margin-right: 1.25rem;
}

body .ico-wrapper a:last-of-type {
  margin-left: 1.25rem;
}

body .content-wrapper {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 4rem;
}

body .content-wrapper.-menu {
  display: none;
  position: absolute;
  top: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

body .content-wrapper .coldeco {
  background-color: #E3B2AE;
  position: fixed;
  width: 65.4rem;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

body .content-wrapper .left, body .content-wrapper .right {
  width: var(--left-width);
}

body .content-wrapper .left .link, body .content-wrapper .right .link {
  opacity: .3;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: moz-fit-content;
}

body .content-wrapper .left .link:after, body .content-wrapper .right .link:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: -0.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
}

body .content-wrapper .left .block:not(:last-of-type) {
  margin-bottom: 4rem;
}

body .content-wrapper .left .block .square {
  margin-bottom: 1.6rem;
  width: 100%;
  height: auto;
}

body .content-wrapper .left .block .title {
  margin-bottom: 0.9rem;
  max-width: 47.8rem;
}

body .content-wrapper .left .block.-stacked {
  background-image: url("../images/img/grey-big.jpg");
  width: var(--left-width);
  height: var(--left-width);
  position: relative;
  padding: 2.4rem;
}

body .content-wrapper .left .block.-stacked .top {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: moz-fit-content;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-wrapper .left .block.-stacked .top .base-medium {
  margin-left: 0.8rem;
}

body .content-wrapper .left .block.-stacked .bottom {
  position: absolute;
  bottom: 2.4rem;
  max-width: calc(100% - (2 * 2.4rem));
  margin: 0 auto;
}

body .content-wrapper .menu-wrapper {
  display: none;
  padding-top: 3.4rem;
  padding-left: 8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: calc(100vh - 10.5rem);
}

body .content-wrapper .menu-wrapper .menu-list li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .content-wrapper .menu-wrapper .menu-list li:not(:last-of-type) {
  margin-bottom: 1.2rem;
}

body .content-wrapper .menu-wrapper .menu-list li a {
  padding-top: 0.6rem;
  padding-right: 8rem;
  padding-bottom: 0.6rem;
}

body .content-wrapper .menu-wrapper .contact {
  position: absolute;
  bottom: 0;
  opacity: .3;
}

body .content-wrapper .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8rem;
}

body .content-wrapper .right .block {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .content-wrapper .right .block:not(:last-of-type) {
  margin-bottom: 4rem;
}

body .content-wrapper .right .block .text-wrapper .top {
  margin-bottom: 0.8rem;
}

body .content-wrapper .right .block .text-wrapper .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .content-wrapper .right .block .text-wrapper .bottom .date {
  color: #E3B2AE;
  position: relative;
}

body .content-wrapper .right .block .text-wrapper .bottom .date.-new {
  padding-right: 1.2rem;
}

body .content-wrapper .right .block .text-wrapper .bottom .date.-new::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #E3B2AE;
}

body .content-wrapper .right .block.-small {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 44rem auto;
      grid-template-columns: 44rem auto;
  -webkit-column-gap: 1.6rem;
          column-gap: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .content-wrapper .right .block.-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 42rem;
}

body .content-wrapper .right .block.-big .text-wrapper {
  margin-bottom: 1.7rem;
  padding-right: 2.4rem;
}

body .content-wrapper .right .block.-big .square {
  width: 100%;
  height: auto;
}

body .content-wrapper .right .hey-loading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: moz-fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .content-wrapper.-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .newsletter-wrapper {
  background-color: #FFFF93;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

body .newsletter-wrapper .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .newsletter-wrapper .newsletter .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font: 500 3.2rem "i";
  margin-bottom: 1.6rem;
}

body .newsletter-wrapper .newsletter .title .hey {
  width: 5.6rem;
  height: 3.2rem;
  margin: 0 0.2rem;
}

body .newsletter-wrapper .newsletter .input-wrapper {
  position: relative;
}

body .newsletter-wrapper .newsletter .input-wrapper .emoji {
  position: absolute;
}

body .newsletter-wrapper .newsletter .input-wrapper .emoji:first-of-type {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  bottom: -1.4rem;
  left: 2.3rem;
}

body .newsletter-wrapper .newsletter .input-wrapper .emoji:last-of-type {
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
  right: 0.8rem;
  top: -0.8rem;
}

body .newsletter-wrapper .newsletter .btn-wrapper {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}

body .newsletter-wrapper .newsletter .btn-wrapper .emoji {
  position: absolute;
  top: 0.5rem;
  left: -1rem;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

body .newsletter-wrapper .newsletter .ico-wrapper {
  position: absolute;
  bottom: 3.2rem;
}

@media (max-width: 960px) {
  body .header {
    -ms-grid-columns: var(--left-width) auto;
        grid-template-columns: var(--left-width) auto;
    padding-left: 4rem;
    margin-left: 0;
    max-width: 100% !important;
  }
  body .header .ico-wrapper .menu {
    right: 3.6rem;
  }
  body .content-wrapper {
    padding-left: 4rem;
    max-width: 100% !important;
  }
  body .content-wrapper .coldeco {
    width: 45.4rem;
  }
  body .content-wrapper .left .block {
    max-width: 100%;
  }
  body .content-wrapper .right {
    width: var(--right-width);
    margin-left: 6.4rem;
  }
  body .content-wrapper .right .block.-small {
    -ms-grid-columns: 29.6rem auto;
        grid-template-columns: 29.6rem auto;
  }
  body .content-wrapper .right .block.-big {
    max-width: 100%;
  }
  body .newsletter-wrapper {
    height: 32rem;
  }
  body .newsletter-wrapper .newsletter {
    margin-top: -5rem;
  }
}

@media (max-width: 720px) {
  body .header {
    padding-left: 2.4rem;
  }
  body .content-wrapper {
    padding-left: 2.4rem;
  }
  body .content-wrapper .coldeco {
    width: 33.4rem;
  }
  body .content-wrapper .right {
    margin-left: 4rem;
  }
  body .content-wrapper .right .block.-small {
    -ms-grid-columns: 20rem auto;
        grid-template-columns: 20rem auto;
  }
}

@media (max-width: 560px) {
  body.show-menu .header {
    position: static;
  }
  body.show-menu .header .ico-wrapper .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 3.2rem;
    left: 3.2rem;
  }
  body.show-menu .content-wrapper.-menu .coldeco {
    display: none;
  }
  body.show-menu .content-wrapper:not(.-menu) {
    display: none;
  }
  body .header {
    margin-bottom: 1.5rem;
  }
  body .header .logo {
    width: 8.06rem;
    height: 4.12rem;
  }
  body .header .ico-wrapper .social {
    display: none;
  }
  body .content-wrapper {
    padding: 0 8rem 4rem 8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .content-wrapper .coldeco {
    position: absolute;
    width: 100%;
    height: 99.2rem;
  }
  body .content-wrapper .left {
    margin-bottom: 4rem;
  }
  body .content-wrapper .right {
    margin-left: 0;
  }
  body .content-wrapper .right .block.-small {
    -ms-grid-columns: 28rem auto;
        grid-template-columns: 28rem auto;
  }
  body .content-wrapper.-menu {
    position: static;
    -webkit-transform: none;
            transform: none;
    padding: 0 2.4rem;
    margin-top: 5.5rem;
  }
  body .content-wrapper.-menu .left {
    display: none;
  }
  body .content-wrapper.-menu .menu-wrapper {
    padding: 0;
    position: static;
  }
  body .content-wrapper.-menu .menu-wrapper .contact {
    bottom: 3.4rem;
    right: 2.4rem;
  }
}

@media (max-width: 320px) {
  body .content-wrapper {
    padding: 0 0 4rem 2.4rem;
  }
  body .content-wrapper .coldeco {
    height: 84rem;
  }
  body .content-wrapper .left .block:not(:last-of-type) {
    margin-bottom: 6.3rem;
  }
  body .content-wrapper .right .block.-small {
    -ms-grid-columns: 17.6rem auto;
        grid-template-columns: 17.6rem auto;
  }
}
/*# sourceMappingURL=main.css.map */